.signup_container {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup_container form {
  width: 400px;
}

.mytasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskinput {
  text-align: center;
  width: 695px;
  border: 1px solid black;
}

.welcomeheading {
  margin-top: 20px;
}

.deletebtn {
  float: right;
}

.editbtn {
  float: right;
  margin-right: 20px;
}

#edittaskinput {
  width: 100%;
}
